:root {
    --background: #fff;
    --primary: #4F3ACF;
    --secondary: #0c2026;
    --text: #5f5f5f;
    --border: #b8b8b8;
    --link: #333;
}

@media screen and (max-width: 1080px) {
    :root {
        font-size: 93.75%;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 87.5%;
    }
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'Sans Serif';
}

h1 {
    font-weight: 700;
}

main {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: calc(1136 + 2rem);
}