.greeting {
   height: calc(100vh - 4rem);
   margin: 0 1.5rem 0 1.5rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.dev-info span{
    color: var(--primary);
}

.dev-info h1 {
    font-size: 3rem;
}

.dev-info p {
    max-width: 27.5rem;
    font-size: 1.25rem;
    margin: 3rem 0 4rem;
}

.dev-info a {
    background-color: var(--primary);
    color: var(--background);
    display: block;
    width: 16.75rem;
    padding: 1rem 0;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;

}

.dev-info a:hover {
    filter: brightness(125%);
}

.img {
    background-color: var(--secondary);
    width: 21.75rem;
    height: 21.75rem;
    transform: rotate(6deg);
    filter: drop-shadow(0px 4px 4px  rgba(0, 0, 0, 0.25));
}

.img img {
    width: 21.75rem;
    height: 21.75rem;
    transform: rotate(-6deg);
    background-color: var(--primary);
    filter: drop-shadow(0px 4px 4px  rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 975px) {
    .img {
        display: none;
    }
}