.header {
    padding: 1rem;
    max-width: calc(1136px + 2rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Source Code Pro',monospace;
    font-weight: 600;
    font-size: 1.5rem;
}


.header .logo span {
    color: var(--primary);
}

.header a {
    font-family: 'Inter', monospace;
    color: var(--link);
    text-decoration: none;
    transition: color 0.2s;
}

.header a + a {
    margin-left: 1rem;
}


.header a:hover {
    color: var(--primary);
}

@media screen and (max-width: 768px){
    .header{
        justify-content: center;
    }

    .header nav{
        display: none;
    }
}